.lighttop {
    background: black;
    width: 10px;
    height: 100px;
    margin: auto;
    margin-top: 10%;

}


.container {
    margin: auto;
    background: black;
    width: 110px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;

}

.light {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    cursor: pointer;
}

.light.red {
    background: darkred;
}

.light.yellow {
    background: darkgoldenrod;
}

.light.green {
    background: darkgreen;
}

.light.red.active {
    background: red;
}

.light.yellow.active {
    background: rgb(255, 183, 3)
}

.light.green.active {
    background: rgb(3, 190, 3);
}